@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700|&display=swap');

/*----------------------------------------------------------------------footer*/

footer {
    max-height: 60px;
    margin-top: 10px;
    padding: 20px 10px 20px 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.footer {
    bottom: 0;
    width: 100%;
}

.copyright {
    text-align: right;
}

/*---------------------------------------------------------------------section*/

section {
    min-height: calc(100vh - 220px);
    text-align: center;
    font-size: 2em;
}

#cityName {
    font-family: Alegreya Sans SC, open-sans;
    border: #64CAEA solid 2px;
    border-radius: 5px;
    color: #8AB1BD;

}

#searchbtn {
    font-family: Alegreya Sans SC, open-sans;
    border-radius: 5px;
    background-color: #64CAEA;
    border: none;
    color: #64858F;
}

/*----------------------------------------------------------------------header*/
.title {
    padding: 20px 10px 10px;
    font-family: Alegreya Sans SC, open-sans;
}

.tagline {
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 1.5em;
}