@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700|&display=swap');

/*----------------------------------------------------------------------universal*/

.nav-link {
    text-decoration: none;
    color: #8AB1BD;
}

.nav-link:hover{
    color: #64CAEA;
}

.githubLink {
    text-decoration: none;
    color: black;
}

.githubLink:hover {
    text-decoration: none;
    color: #8AB1BD;
}

/*----------------------------------------------------------------------footer*/

footer {
    max-height: 60px;
    margin-top: 10px;
    padding: 20px 10px 20px 10px;
    font-family: Lato, open-sans;
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.footer {
    bottom: 0;
    width: 100%;
}

.copyright {
    text-align: right;
}

/*---------------------------------------------------------------------content*/

#content {
    min-height: calc(100vh - 314px);
}

#cityName {
    font-family: Alegreya Sans SC, open-sans;
    font-size: 2em;
    border: #64CAEA solid 2px;
    border-radius: 5px;
    color: #8AB1BD;

}

.weatherinput {
    text-align: center;
}

#searchbtn {
    font-family: Alegreya Sans SC, open-sans;
    font-size: 2em;
    border-radius: 5px;
    background-color: #64CAEA;
    border: none;
    margin: .5em;
    color: #64858F;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#getWeather {
    padding: 1em;
    font-family: Alegreya Sans SC, open-sans;
    font-size: 2.5em;
}


#searchbtn:hover {
    background: #64858F;
    color: #64CAEA;
}

/*----------------------------------------------------------------------header*/
.title {
    padding: 20px 10px 10px;
    font-family: Alegreya Sans SC, open-sans;
}

.tagline {
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 1.5em;
}

/*---------------------------------------------------------------------Contact*/

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #64CAEA;
    color: #64858F;
    border: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

button[type="submit"]:hover {
    background: #64858F;
    color: #64CAEA;
}


/*---------------------------------------------------------------------Slideshow*/


#slides{
    position: relative;
    height: 200px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
}

.showing{
    opacity: 1;
    z-index: 2;
}

.slide{
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1){
    background-image: url(../bg-imgs/1.jpg);
}
.slide:nth-of-type(2){
    background-image: url(../bg-imgs/2.jpg);
}
.slide:nth-of-type(3){
    background-image: url(../bg-imgs/3.jpg);
}
.slide:nth-of-type(4){
    background-image: url(../bg-imgs/4.jpg);
}

Resources1×0.5×0.25×Rerun

/*---------------------------------------------------------------------modal*/

h3, .modal-text {
    font-family: Alegreya Sans SC, open-sans;
    font-size: 3em;
    text-align: center;
}